.navbar {
  text-align: center;
}
*{
  margin :10px;
}


.block-area{
  position: absolute;
  top:80px;
  right:150px;
}

.form{
  font-size:15px;
  display: grid;
  justify-content: center;
  margin:15px
}

/* 

.form > label {
  margin:10px;
} */